body{
    background-image: url(https://st4.depositphotos.com/5935630/19768/v/600/depositphotos_197688324-stock-video-happy-african-american-young-man.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron {
    background-color: forestgreen;
    color: white;
    opacity: .75;
    margin-top: 20px;
}

#submit {
    background: forestgreen;
}

#jumbo_h2 {
    color: white;
}

h4 {
    color: #fff
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.panel-title {
    color: forestgreen;
}
